In [1]:
import pandas as pd

In [2]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1,7,10,30])

In [3]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [4]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [6]:
dictionary = {
    1: 'Navas',
    7: "Mbappe",
    10: "Neymar",
    30: "Messi"
}

pd.Series(dictionary)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
psg_players[7]

'Mbappe'

In [8]:
data = {
    "Jugador": [
        'Navas',
        'Mbapppe',
        'Neymar',
        'Messi'
    ],
    "Altura": [
        183.0,
        170.0,
        170.0,
        165.0
    ],
    "Goles": [
        2,
        200,
        200,
        200
    ]
}

In [10]:
players_df = pd.DataFrame(data, index=[1,7,10,30])

In [11]:
players_df

    Jugador  Altura  Goles
1     Navas   183.0      2
7   Mbapppe   170.0    200
10   Neymar   170.0    200
30    Messi   165.0    200

In [17]:
players_df.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [16]:
players_df.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')