In [1]:
import numpy as np
import pandas as pd

In [3]:
my_dict = {
    'Col1': [1,2,3,np.nan],
    'Col2': [4,np.nan,6,7],
    'Col3': ['a', 'b', 'c', None]
}

In [4]:
df = pd.DataFrame(my_dict)

In [5]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [7]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [8]:
df.fillna("Missing")

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [11]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c